body {
    max-width: 60em;
    margin: auto;
}


/*
=======================================
SEZIONE HEADER
=======================================
*/

#cart-link {
    margin-right: 0em;
}

/*
=======================================
SEZIONE MENU
=======================================
*/

#hamburger-menu-btn {
    display: none;
}

#menu {
    display: block;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#menu li {
    margin-right: 2em;
}

/*
=======================================
SEZIONE MAIN
=======================================
*/

.pesci {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Mobile: 2 colonne  */
}

.dati-pesce .nome {
        font-size: clamp(0.875em, 0.2em + 1.6vw, 2em);
        font-size: clamp(0.875em, 8cqw, 2em);
}

