/*
=======================================
SEZIONE HEADER
=======================================
*/

#cart-link {
    margin-right: 0em;
}

/*
=======================================
SEZIONE MENU
=======================================
*/

#hamburger-menu-btn {
    display: none;
}

#menu {
    display: block;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#menu li {
    margin-right: 2em;
}

/*
=======================================
SEZIONE MAIN
=======================================
*/

.pesci {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Mobile: 2 colonne */
}