/*
=======================================
SEZIONE MAIN
=======================================
*/

.pesci {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Mobile: 2 colonne */
    gap: 5px; /* Spazio tra le card */
    margin: 0.5em;
    list-style: none;
}

/* Card singola */
.card-pesce {
    background: #fff;
    border-radius: 0.5em;
    overflow: hidden;
    position: relative;
}

/* Immagine della card */
.card-pesce img {
    display: block;
    max-width: 100%;
}

/* Dati del pesce */
.dati-pesce {
    position: absolute;
    bottom: 0;                 /* oppure top: 0 se lo vuoi sopra */
    left: 0;
    width: 100%;               /* da sinistra a destra */
    height: 25%;               /* 1/4 della card */
    background: rgba(0, 0, 0, 0.6); /* nero trasparente */
    color: white;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

.dati-pesce .nome {
    font-weight: bold;
}

.card-pesce .prezzo {
    position: absolute;
    top: 0px;
    right: 0px;
    
    width: 70px;
    height: 50px;
    
    background-image: url("../../Asset/Immagini/Icone/fish.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    font-size: 12px;
    font-weight: bold;
}