*{
    padding: 0em;
    margin: 0em;
}

:root {
    --color-text: ;
    --color-background: ;
    --color-background-breadcrumb: ;
    --color-background-header: ;
    --color-link: ;
    --color-link-visited: ;
    --color-error: ;
}

html {
    line-height: 1.5;
    font-size: 100%;
    color: #fff; /*Colore va spostato in altre sezioni*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /*background-color: #0077cc;*/
    /*background: linear-gradient(135deg, rgb(0, 35, 89) 0%, rgb(0, 104, 158) 100%);*/
    
    background-image: url("../../Asset/Immagini/Sfondi_Sito/img\ 10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

a { /*Stile per i link DA FARE*/
	color: var(--text);
	text-underline-offset: 0em;
	text-decoration: underline;
}

a:visited { /*Stile per i link visitati DA FARE*/
	color: var(--link-visited);
	text-decoration: none;
}

/*
=======================================
SEZIONE HEADER
=======================================
*/

header{
    position: sticky;
    top: 0;
	z-index: 999;
	padding: 0.5em;
    border: 2px solid black;
}

.header-content {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: relative; /*Prova*/
}

/*
=======================================
SEZIONE MENU
=======================================
*/

.screen-reader{
  display: none;
}

#menu {
  display: none;
  padding: 0.5em;
}

/* Lista menu */
#menu ul {
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  list-style-type: none;
  padding: 0em;
}

#menu li {
  margin: 0.5em 0;
}

/* Menu visibile quando ha classe active */
#menu.active {
  display: block;
}

#menu-btn img {
  width: 35px;
  cursor: pointer;
}

/* Solo l'icona del menu visibile inizialmente */
#close-hamburger-menu {
  display: none;
}

/* Quando il bottone è attivo, invertiamo */
#menu-btn.active #open-hamburger-menu {
  display: none;
}

#menu-btn.active #close-hamburger-menu {
  display: inline;
}

/*
=======================================
SEZIONE BREADCRUMB
=======================================
*/

#breadcrumb {
    /*margin-top: 5.5em;*/
	justify-self: center;
    align-items: center;
    border-radius: 0.5em;
    background-color: lightgray;
}

#breadcrumb > ol {
	list-style: none;
	display: flex;
	text-align: center;
	padding: 0.5em;
	margin-inline: 1em;
}

/*
=======================================
SEZIONE MAIN
=======================================
*/

.pesci {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Mobile: 2 colonne */
    gap: 5px; /* Spazio tra le card */
    margin: 0.5em;
    list-style: none;
}

/* Card singola */
.card-pesce {
    background: #fff;
    border-radius: 0.5em;
    overflow: hidden;
    position: relative;
}

/* Immagine della card */
.card-pesce img {
    display: block;
    max-width: 100%;
}

/* Dati del pesce */
.dati-pesce {
    position: absolute;
    bottom: 0;                 /* oppure top: 0 se lo vuoi sopra */
    left: 0;
    width: 100%;               /* da sinistra a destra */
    height: 25%;               /* 1/4 della card */
    background: rgba(0, 0, 0, 0.6); /* nero trasparente */
    color: white;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

.dati-pesce .nome {
    font-weight: bold;
}

.card-pesce .prezzo {
    position: absolute;
    top: 0px;
    right: 0px;
    
    width: 70px;
    height: 50px;
    
    background-image: url("../../Asset/Immagini/Icone/fish.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/*
=======================================
SEZIONE FOOTER
=======================================
*/