*{
    padding: 0em;
    margin: 0em;
}

:root {
    --color-text: ;
    --color-background: ;
    --color-background-breadcrumb: ;
    --color-background-header: ;
    --color-link: #fff;
    --color-link-visited: ;
    --color-error: ;
}

html {
    line-height: 1.5;
    font-size: 100%;
    color: #fff; /*Colore va spostato in altre sezioni*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    
    /*font-family: "Atkinson Hyperlegible", sans-serif;*/
    /*font-family: "Inclusive Sans", sans-serif;*/
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /*AERO PIù INTENSO
      color: #fff; Colore va spostato in altre sezioni
      text-shadow:
      0 0 4px rgba(255,255,255,0.4),
      0 0 8px rgba(255,255,255,0.2); */
    /*AERO PIù PIACEVOLE*/
    color: #f8fdff; 
    text-shadow:
      0 1px 2px rgba(0,0,0,0.25),
      0 0 6px rgba(180,220,255,0.6),
      0 0 14px rgba(120,190,255,0.35);

      scroll-behavior: smooth;
}

body {
    /*background: linear-gradient(135deg, rgb(0, 35, 89) 0%, rgb(0, 104, 158) 100%);*/
    
    background-image: url("../../Asset/Immagini/Sfondi_Sito/img\ 7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

a { /*Stile per i link DA FARE*/
    color: var(--text);
    text-underline-offset: 0.1em;
    text-decoration: underline;
}

a:visited { /*Stile per i link visitati DA FARE*/
    color: var(--link-visited);
    text-decoration: none;
}

#skip-to-content, .screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

#skip-to-content:focus {
    z-index: 10000;
    width: auto;
    height: auto;
    overflow: visible;
    clip-path: none;
    top: 0.5em;
    left: 0.5em;
    padding: 0.5em 1em;
    border-radius: 20px;
    background-color: black;
}

/*
=======================================
SEZIONE HEADER
=======================================
*/

header{
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0.5em;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    font-size: clamp(1rem, 1rem + 0.2vw, 1.2rem);
}

.header-content img {
    width: 3em;
}

#cart-link {
    margin-right: 0.5em;
}

#cart-link > img {
    width: 2.5em;
}

/*
=======================================
SEZIONE MENU
=======================================
*/

#menu {
    display: none;
}

#hamburger-menu {
    display: none;
    width: 100%;     
    text-align: center;
}

#hamburger-menu ul {
    list-style-type: none;
}

#hamburger-menu li {
    margin-bottom: 0.5em;
}

/* Menu visibile quando ha classe active */
#hamburger-menu.active {
    display: block;
}

#hamburger-menu-btn {
    background: transparent;
    border: none;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

/* Solo l'icona del menu visibile inizialmente */
#close-hamburger-menu {
    display: none;
}

/* Quando il bottone è attivo, invertiamo */
#hamburger-menu-btn.active #open-hamburger-menu {
    display: none;
}

#hamburger-menu-btn.active #close-hamburger-menu {
    display: block;
}

/*
=======================================
SEZIONE BREADCRUMB
=======================================
*/
/*
#breadcrumb {
    width: 95%;
    margin: 0 auto;
}

#breadcrumb > ol {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0.5em;
    margin: 0 0.5em;
}

#breadcrumb > ol > li + li::before {
	content: '>' / '';
    margin: 0 0.3em;
}
*/
#breadcrumb {
    width: fit-content;
    margin: 0 auto;
    font-size: clamp(1rem, 1rem + 0.2vw, 1.1rem);
}

#breadcrumb > ol {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 0.5em;
    margin: 0 1em;
}

#breadcrumb > ol > li + li::before {
	content: '>' / '';
    margin: 0 0.3em;
}

/*
=======================================
SEZIONE MAIN
=======================================
*/

h1 {
    font-size: clamp(2rem, 1.6rem + 1.8vw, 2.5rem);
}

h2 {
    font-size: clamp(1.5rem, 1rem + 1.8vw, 2rem);
}

.call-to-action {
    font-size: clamp(1.1rem, 0.6rem + 1.8vw, 1.5rem);
}

.center {
    text-align: center;
}

#main-content {
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.main-section, .header-content, #breadcrumb, .form-container {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    border: 1px solid #ffffff66;
    backdrop-filter: blur(5px) saturate(120%);
    box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.15),
    inset 0 1px 1px rgba(255, 255, 255, 0.6);
}

.header-content {
    backdrop-filter: blur(20px);
}

.main-section {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.25em;
}

.section-title, footer p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5em;
    margin-left: 0.5em; 
}

.pesci {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 0.5em;
    list-style: none;
}

.card-pesce {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /*Soluzione per browser nuovi, circa dal 2023, per avere grandezza testo in base a qella del contenitore usando i cqw(container query width)*/
    container-type: inline-size;
}

.card-pesce img {
    display: block;
    max-width: 100%;
}

.dati-pesce {
    position: absolute;
    bottom: 0;                 /* oppure top: 0 se lo vuoi sopra */
    left: 0;
    width: 100%;               /* da sinistra a destra */
    height: 25%;               /* 1/4 della card */
    background: rgba(0, 0, 0, 0.6); /* nero trasparente */
    color: white;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.dati-pesce .nome {
    font-weight: bold;
    font-size: clamp(0.875em, 0.3em + 2.2vw, 2em); /*0.75em di 16 = 12px*/
    font-size: clamp(0.875em, 8cqw, 2em); /*Se il browser non supporta container-inline, la funzione clamp diventa invalida e la dichiarazione viene ignorata. Quindi viene applicato il clamp precedente*/
    line-height: 1;
}

.card-pesce .prezzo {
    position: absolute;
    top: 0px;
    right: 0px;
    
    /*width: 70px;
    height: 50px;
    
    background-image: url("../../Asset/Immagini/Icone/fish.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
    
    width: 35%;               /* da sinistra a destra */
    height: 15%;               /* 1/4 della card */
    background: rgba(0, 0, 0, 0.6); /* nero trasparente */
    border-bottom-left-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    font-size: clamp(0.875em, 2vw, 3em);
    font-size: clamp(0.875em, 8cqw, 3em);
    font-weight: bold;
}

.back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    z-index: 1000;

    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.411);
    text-decoration: none;
}

/*ICONE*/
.back-to-top img {
    width: 3rem;
}

/*PER AVERE ICONE BIANCHE*/
.icona {
    filter: invert(100%);
}


/*LOGIN*/

.form-container {
    display: flex;
    flex-direction: column;
    min-width: 17em;
    max-width: 28em;
    box-sizing: border-box;
    padding: 1em;
    margin: 0 auto;
}

.error-message {
    color: darkred;
    font-weight: bold;
}

ul.error-message {
    list-style: none;
}

.data-form {
    margin-top: 1em;
    font-size: clamp(1.1rem, 1rem + 0.4vw, 1.5rem);
}

.data-form label {
    font-weight: bold;
}

.data-form > label:first-child {
    margin-top: 0em;
}

.data-form input, .data-form select {
    height: 2.5rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 0.25em;
    padding-left: 0.5em;
    font-size: 1rem;
}

.data-form input:focus, .data-form select:focus {
    outline: none;
    border-width: 3px;
}

.required {
    margin-left: 0.25em;
    font-size: 0.80em;
    font-weight: normal;
    color: black;
}

.hint {
    display: block;
    margin-top: 0.25em;
    font-size: 0.80em;
}

abbr {
    text-decoration: none;
    font-weight: bold;
    cursor: help;
}

.data-form input[type="submit"] {
    border: none;
    font-size: 0.875em;
    font-weight: bold;
    background-color: #4a90e2;
    cursor: pointer;
}

.data-form input[type="submit"]:focus {
    border: 3px solid black;
}

.data-form input[type="submit"]:hover {
    background-color: #357abd;
}

#login-form input[type="submit"] {
    margin-top: 1em;
}

/*SIGNIN*/

fieldset {
    border-radius: 20px;
    padding: 0.5em;
    margin-bottom: 1em;
}

legend {
    font-size: clamp(1.3rem, 1.1rem + 0.7vw, 1.8rem);
    font-weight: bold;
}

.data-form label {
    display: inline-block;
    margin-top: 0.8em;
}

fieldset > label:first-of-type {
    margin-top: 0em;
}

.help {
    margin-top: 0.25em;
    font-size: 0.875em; /*14px se font padre = 16px*/
}

.help ul {
    padding-left: 1.5em;
}

/*
=======================================
SEZIONE FOOTER
=======================================
*/

footer {
    margin-top: 1em;
    margin-right: 3em;
    margin-left: 0.5em;
    margin-bottom: 1em;
}