*{
    padding: 0em;
    margin: 0em;
}

:root {
    --color-text: ;
    --color-background: ;
    --color-background-breadcrumb: ;
    --color-background-header: ;
    --color-link: ;
    --color-link-visited: ;
    --color-error: ;
}

html {
    line-height: 1.5;
    font-size: 100%;
}

a { /*Stile per i link DA FARE*/
	color: var(--text);
	text-underline-offset: 0em;
	text-decoration: underline;
}

a:visited { /*Stile per i link visitati DA FARE*/
	color: var(--link-visited);
	text-decoration: none;
}

/*
=======================================
SEZIONE HEADER
=======================================
*/

.header-style {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* occupa tutta la larghezza */
    background-color: beige; /* o il colore che vuoi */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

/*
=======================================
SEZIONE MENU
=======================================
*/



/*
=======================================
SEZIONE BREADCRUMB
=======================================
*/

#breadcrumb {
    /*Breadcrumb rettangolare lungo tutta la schermata*/
    
    margin-top: 4.6em;
    border: 1px;
    background-color: lightgray;
    

    /*Breadcrumb come bookoverflow*/
    /*margin-top: 5.5em;
	justify-self: center;
    align-items: center;
    border-radius: 1em;
    background-color: lightgray;
    */
}

#breadcrumb > ol {
	list-style: none;
	display: flex;
	text-align: center;
	padding: 0.5em;
	margin-inline: 1em;
}

/*
=======================================
SEZIONE FOOTER
=======================================
*/