*{
    padding: 0em;
    margin: 0em;
}

:root {
    --color-text: ;
    --color-background: ;
    --color-background-breadcrumb: ;
    --color-background-header: ;
    --color-link: #fff;
    --link-visited: #fff;
    --color-error: ;
}

html {
    line-height: 1.5;
    font-size: 100%;
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /*AERO PIù INTENSO
      color: #fff; Colore va spostato in altre sezioni
      text-shadow:
      0 0 4px rgba(255,255,255,0.4),
      0 0 8px rgba(255,255,255,0.2); */
    /*AERO PIù PIACEVOLE*/
    color: #f8fdff; /*Colore va spostato in altre sezioni*/
    /*text-shadow:
      0 1px 2px rgba(0,0,0,0.25),
      0 0 6px rgba(180,220,255,0.6),
      0 0 14px rgba(120,190,255,0.35);*/

    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, rgb(0, 35, 89) 0%, rgb(0, 104, 158) 100%);
    
    background-image: url("../IMMAGINI/Sfondi_Sito/sfondoScurito.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a { /*Stile per i link DA FARE*/
    color: var(--text);
    text-underline-offset: 0.1em;
    text-decoration: underline;
}

a:visited { /*Stile per i link visitati DA FARE*/
    color: var(--link-visited);
    text-decoration: none;
}

#skip-to-content, .screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

#skip-to-content:focus {
    z-index: 10000;
    width: auto;
    height: auto;
    overflow: visible;
    clip-path: none;
    top: 0.5em;
    left: 0.5em;
    padding: 0.5em 1em;
    border-radius: 20px;
    background-color: black;
}

/*
=======================================
SEZIONE HEADER
=======================================
*/

header{
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0.5em;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    font-size: clamp(1rem, 1rem + 0.2vw, 1.2rem);
}

.header-content img {
    width: 2.9em;
}

#cart-link {
    margin-right: 0.5em;
}

#cart-link > img {
    width: 2.5em;
}

/*
=======================================
SEZIONE MENU
=======================================
*/

#menu {
    display: none;
}

#hamburger-menu {
    display: none;
    width: 100%;     
    text-align: center;
}

#hamburger-menu ul {
    list-style-type: none;
}

#hamburger-menu li {
    margin-bottom: 0.5em;
}

/* Menu visibile quando ha classe active */
#hamburger-menu.active {
    display: block;
}

#hamburger-menu-btn {
    background: transparent;
    border: none;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

/* Solo l'icona del menu visibile inizialmente */
#close-hamburger-menu {
    display: none;
}

/* Quando il bottone è attivo, invertiamo */
#hamburger-menu-btn.active #open-hamburger-menu {
    display: none;
}

#hamburger-menu-btn.active #close-hamburger-menu {
    display: block;
}

/*
=======================================
SEZIONE BREADCRUMB
=======================================
*/
#breadcrumb {
    width: fit-content;
    margin: 0 auto;
    font-size: clamp(1rem, 1rem + 0.2vw, 1.1rem);
}

#breadcrumb > ol {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    padding: 0.5em;
    margin: 0 1em;
}

#breadcrumb > ol > li + li::before {
	content: '>' / '';
    margin: 0 0.3em;
}

/*
=======================================
SEZIONE MAIN
=======================================
*/

h1 {
    font-size: clamp(2rem, 2.5rem + 1.8vw, 100rem);
}

h2 {
    font-size: clamp(1.5rem, 1rem + 1.8vw, 2rem);
}

.call-to-action {
    font-size: clamp(1.1rem, 0.6rem + 1.8vw, 1.5rem);
}
.paragrafo {
    font-size: clamp(1rem, 0.6rem + 1.8vw, 1.3rem);
}

.center {
    text-align: center;
}

#main-content {
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.main-section, .header-content, #breadcrumb, .form-container {
    background: rgba(53, 105, 140, 0.25);
    border-radius: 20px;
    border: 1px solid #ffffff66;
    backdrop-filter: blur(5px) saturate(120%);
    box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.15),
    inset 0 1px 1px rgba(255, 255, 255, 0.6);
}

.header-content {
    backdrop-filter: blur(20px);
    background: rgba(38, 125, 183, 0.77);
}

.main-section {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.section-title, footer p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5em;
    margin-left: 0.5em; 
}

.section-title img {
    height: auto;
    width: 100%;
    max-width: 3.5em;
    padding-top: 0.5em;
}

.pesci {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 0.5em;
    list-style: none;
}

.card-pesce {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /*Soluzione per browser nuovi, circa dal 2023, per avere grandezza testo in base a qella del contenitore usando i cqw(container query width)*/
    container-type: inline-size;
}

.card-pesce img {
    display: block;
    max-width: 100%;
}

.dati-pesce {
    position: absolute;
    bottom: 0;                 /* oppure top: 0 se lo vuoi sopra */
    left: 0;
    width: 100%;               /* da sinistra a destra */
    height: 25%;               /* 1/4 della card */
    background: rgba(0, 0, 0, 0.6); /* nero trasparente */
    color: white;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.dati-pesce .nome {
    font-weight: bold;
    font-size: clamp(0.875em, 0.3em + 2.2vw, 2em); /*0.75em di 16 = 12px*/
    font-size: clamp(0.875em, 8cqw, 2em); /*Se il browser non supporta container-inline, la funzione clamp diventa invalida e la dichiarazione viene ignorata. Quindi viene applicato il clamp precedente*/
    line-height: 1;

}

.card-pesce .prezzo {
    position: absolute;
    top: 0px;
    right: 0px;
    
    /*width: 70px;
    height: 50px;
    
    background-image: url("../../Asset/Immagini/Icone/fish.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
    
    width: 35%;               /* da sinistra a destra */
    height: 15%;               /* 1/4 della card */
    background: rgba(0, 0, 0, 0.6); /* nero trasparente */
    border-bottom-left-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    font-size: clamp(0.875em, 2vw, 3em);
    font-size: clamp(0.875em, 8cqw, 3em);
    font-weight: bold;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 1000;

    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.411);
    text-decoration: none;
}

.main-section-pesce {
    background: rgba(53, 105, 140, 0.25);
    border-radius: 20px;
    border: 1px solid #ffffff66;
    padding: 1.5em;
    margin: 1em 0.5em;
    color: #f8fdfff9;
}

.parte-superiore-pesce {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.parte-superiore-pesce .card-pesce {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    max-height: 300px; 
    display: flex;
}

.parte-superiore-pesce .card-pesce img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sezione-acquisto {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.sezione-acquisto h1 {
    font-size: clamp(1.8rem, 4.7vw, 2.8rem); 
    line-height: 1.1;
}

.sezione-acquisto .prezzo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

.sezione-acquisto .disponibilita {
    font-size: 0.9rem;
    opacity: 0.9;
}

.quantita-gestione {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: 1em;
}

#quantita {
    width: 3.5rem;
    height: 2.5rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #ffffff;
    color: #000000;
}

/*serve per togliere le freccette*/
#quantita::-webkit-outer-spin-button, 
#quantita::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.btn-quantita {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.06);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrello-button {
    margin-top: 1em;
    width: 100%;
    max-width: 300px;
    padding: 0.8em;
    background-color: #2c6cb3;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.parte-inferiore-pesce {
    margin-top: 2em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 1.5em;
}

.dati-tecnici {
    list-style: none;
    padding: 0;
    margin-bottom: 1.3em;
}

.dati-tecnici li {
    padding: 0.5em 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    display: flex;
    justify-content: flex-start;
}

.descrizione {
    font-size: 1.2rem;
    line-height: 1.5;
}

@media (min-width: 768px){
    .parte-superiore-pesce { 
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 3em;
    }

    .parte-superiore-pesce .card-pesce{
        flex: 1;
        max-width: 50%;
        aspect-ratio: 3/2;
    }

    .sezione-acquisto{
        flex: 1;
        text-align: left;
    }

    .quantita-gestione{
        justify-content: flex-start;
    }

    .dati-tecnici{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

}

/* BARRA DI RICERCA */
.search-bar {
    display: flex;
    flex-direction: column;
}

.search-bar label {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.search-bar input[type="search"] {
    height: 2.8rem;
    padding: 0 0.75em;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-size: 1rem;

}
.search-bar input[type="search"]:focus {
    outline: none;
    border: 3px solid #4a90e2;
}
#form-container {
    display:flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em auto;
    padding: 1em;
    max-width: 130em;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    border: 1px solid #ffffff66;
    backdrop-filter: blur(5px) saturate(120%);

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.15),
        inset 0 1px 1px rgba(255, 255, 255, 0.6);
}

/* FILTRI */
.filter-container {
    display:flex;
    flex-direction:column;
    gap:0.6em;
    padding :0.75em;
    border-radius:15px;
}
.filter-container legend {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.filter-container label {
    display: flex;
    align-items: center;
    gap:0.6em;
}
.habitat-filter, .special-filter {      
    display:flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top:0.5em;
}

.habitat-filter label, .special-filter label {
    display:flex;
    align-items: center;
    gap:0.5em
}

.price-filter {
    display:block;
    gap: 0.5em;
}
.price-filter label {
    font-weight: bold;
}
.price-filter input[type="number"] {
    border-radius: 10px;
    border: 1px solid #000;
    padding-left:0.5em;
    height:1.5rem;
}
.price-filter input[type="number"]:focus {
    outline:none;
    border-width :2px;
    border-color: #4a90e2;
}
#toggle-filter {
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 10px;
    border: none;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
#toggle-filter:hover {
    background-color: #357abd;
}
.hidden{
    display:none;
}
.color-filter {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}
.color-filter p {
    font-weight: bold;
    margin-right:0.5em;
}
.color-filter label{
    display:flex;
    align-items:center;
    gap:0.25em;
}
/*ICONE*/
.back-to-top img {
    width: 3rem;
}

/*PER AVERE ICONE BIANCHE*/
.icona {
    filter: invert(100%);
}

.membro {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;            
    margin: 1.5em auto;    
    max-width: 1000px;    
    list-style: none;
    justify-content: center;
}

.card-membro{
    background: none;
    border-radius: 5px;
    width: 160px;
    text-align: center;
    margin: 0 auto;
    container-type: inline-size; 
}

.card-membro img{
    display: block;
    border-radius: 25%;
    width: 160px; 
    height: 160px;
    object-fit: cover;  
}

.dati-membro{
    left: 0;
    width: 100%;              
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
  
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.dati-membro .nome-membro{
    font-weight: bold;
    font-size: clamp(1.2rem, 0.7em + 3.5vw, 1.8em); /*0.75em di 16 = 12px*/
    font-size: clamp(1.2rem, 13cqw, 1.8em); /*Se il browser non supporta container-inline, la funzione clamp diventa invalida e la dichiarazione viene ignorata. Quindi viene applicato il clamp precedente*/
    line-height: 1.2;
}

/*LOGIN*/

.form-container {
    display: flex;
    flex-direction: column;
    min-width: 17em;
    max-width: 28em;
    box-sizing: border-box;
    padding: 1em;
    margin: 0 auto;
}

.error-message {
    color: darkred;
    font-weight: bold;
}
#login-error {
    margin-top: 0.5em;
    margin-bottom: -0.5em;
    text-align: center;
    font-size: clamp(1.1rem, 0.6rem + 1.4vw, 1.4rem);
}

ul.error-message {
    list-style: none;
}

.data-form {
    margin-top: 1em;
    font-size: clamp(1.2rem, 1rem + 0.6vw, 1.7rem);
}

.data-form label {
    font-weight: bold;
}

.data-form > label:first-child {
    margin-top: 0em;
}

.data-form input, .data-form select {
    height: 2.5rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 0.25em;
    padding-left: 0.5em;
    font-size: clamp(1rem, 0.8rem + 0.4vw, 1.2rem);
}

.data-form input:focus, .data-form select:focus {
    outline: none;
    border-width: 3px;
}

.required {
    margin-left: 0.25em;
    font-size: 0.80em;
    font-weight: normal;
}

.hint {
    display: block;
    margin-top: 0.25em;
    font-size: 0.80em;
}

abbr {
    /*text-decoration: none;*/
    text-underline-offset: 0.1em;
    font-weight: bold;
    cursor: help;
}

.data-form input[type="submit"] {
    border: none;
    font-size: 0.875em;
    font-weight: bold;
    background-color: #4a90e2;
    cursor: pointer;
}

.data-form input[type="submit"]:focus {
    border: 3px solid black;
}

.data-form input[type="submit"]:hover {
    background-color: #357abd;
}

#login-form input[type="submit"] {
    margin-top: 1em;
}

/*SIGNIN*/

fieldset {
    border-radius: 20px;
    padding: 0.5em;
    margin-bottom: 1em;
}

legend {
    font-size: clamp(1.3rem, 1.1rem + 0.7vw, 1.8rem);
    font-weight: bold;
}

.data-form label {
    display: inline-block;
    margin-top: 0.8em;
}

fieldset > label:first-of-type {
    margin-top: 0em;
}

.help {
    margin-top: 0.25em;
    font-size: 0.875em; /*14px se font padre = 16px*/
}

.help ul {
    padding-left: 1.5em;
}

/*
=======================================
SEZIONE FOOTER
=======================================
*/

footer {
    margin-top: 1em;
    margin-right: 3em;
    margin-left: 0.5em;
    margin-bottom: 1em;
}
